{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "MongoDB": "mongodb+srv://usuario:password@cluster.mongodb.net/PropertyDB?retryWrites=true&w=majority"
  },
  "MongoDB": {
    "DatabaseName": "PropertyDB"
  }
}

